/* 상단바 css start  */
.navbar {
    height:10vh; /* 네비게이션 바의 높이를 조정합니다. */
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1); /* 그림자 효과를 추가합니다. */
}

.navbar-nav .nav-item:nth-child(1) .nav-link,
.navbar-nav .nav-item:nth-child(2) .nav-link {
    margin-right: 2vw; /* 첫 번째와 두 번째 nav-item에 margin-right를 추가합니다. */
}

.my-page-btn {
    margin-left: 2vw;
    background-color: #007bff;
    border-radius: 5px;
}
.my-page-btn a {
    color: #ffffff !important;
}

.login-btn,
.logout-btn {
    margin-left: 1vw;
    background-color: #6c757d;
    border-radius: 5px;
}
.login-btn a,
.logout-btn a {
    color: #ffffff !important;
}
/* 상단바 css end  */
section.container {
    height: 90vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.main-banner-title {
    font-weight: 600;
    font-size: 3rem;
}
.main-banner-descrip {
    font-size: 1.5rem;
    margin-top: 3vh;
    line-height: 180%;
}

img.main-banner-img {
    height: 40vh;
}

.main-content-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main-content {
    margin-top: 40vh;
    text-align: center;
}

.main-content-title {
    font-size: 2rem;
    font-weight: 600;
}
.main-content-descrip {
    font-size: 1.4rem;
    margin-top: 2vh;
}

.blank-img {
    margin-top: 5vh;
    width: 40vw;
}

section.buttons-wrapper {
    position: fixed; /* 고정 위치를 설정합니다. */
    bottom: 5vh; /* 하단과의 간격을 조정합니다. */
    right: 10vh;
    width: max-content;
    display: flex;
    flex-direction: column;
}

.location-info-btn,
.alan-question-btn {
    padding-left: 1vw;
    text-align: left;
    height: 10vh;
    font-size: 1.2rem;
    border: 0px;
    border-radius: 10px;
    box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.25); /* 그림자 효과를 추가합니다. */
}

.location-info-btn {
    background-color: #65abff;
    color: #ffffff;
    margin-bottom: 3vh;
}

.alan-question-btn {
    background-color: #ffffff;
}

.location-info-btn:hover,
.alan-question-btn:hover {
    box-shadow: 0px 6px 20px rgba(0, 0, 0, 0.5); /* 호버 시 그림자 효과를 강화합니다. */
}

.alan-question-btn-img {
    width: 6vw;
}

.alan-question-btn-content {
    display: flex;
    justify-content: center;
}