/* 상단바 css start  */
.navbar {
    height:10vh; /* 네비게이션 바의 높이를 조정합니다. */
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1); /* 그림자 효과를 추가합니다. */
}

.navbar-nav .nav-item:nth-child(1) .nav-link,
.navbar-nav .nav-item:nth-child(2) .nav-link {
    margin-right: 2vw; /* 첫 번째와 두 번째 nav-item에 margin-right를 추가합니다. */
}

.my-page-btn {
    margin-left: 2vw;
    background-color: #007bff;
    border-radius: 5px;
}
.my-page-btn a {
    color: #ffffff !important;
}
.logout-btn {
    margin-left: 1vw;
    background-color: #6c757d;
    border-radius: 5px;
}
.logout-btn a {
    color: #ffffff !important;
}
/* 상단바 css end  */

/* index 페이지처럼 페이지 내부 컨텐트를 정렬하는 css start ===> */
section.container {
    height: 90vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.main-banner-title {
    font-weight: 600;
    font-size: 3rem;
}
.main-banner-descrip {
    font-size: 1.5rem;
    margin-top: 3vh;
    line-height: 180%;
}

img.main-banner-img {
    height: 40vh;
}

.main-content-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main-content {
    width: 80vw;
}

.main-content-title {
    font-size: 2rem;
    font-weight: 600;
}
.main-content-descrip {
    font-size: 1.4rem;
    margin-top: 2vh;
}

.blank-img {
    margin-top: 5vh;
    width: 40vw;
}

section.buttons-wrapper {
    position: fixed; /* 고정 위치를 설정합니다. */
    bottom: 5vh; /* 하단과의 간격을 조정합니다. */
    right: 10vh;
    width: max-content;
    display: flex;
    flex-direction: column;
}

.location-info-btn,
.alan-question-btn {
    padding-left: 1vw;
    text-align: left;
    height: 10vh;
    font-size: 1.2rem;
    border: 0px;
    border-radius: 10px;
    box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.25); /* 그림자 효과를 추가합니다. */
}

.location-info-btn {
    background-color: #65abff;
    color: #ffffff;
    margin-bottom: 3vh;
}

.alan-question-btn {
    background-color: #ffffff;
}

.location-info-btn:hover,
.alan-question-btn:hover {
    box-shadow: 0px 6px 20px rgba(0, 0, 0, 0.5); /* 호버 시 그림자 효과를 강화합니다. */
}

.alan-question-btn-img {
    width: 6vw;
}

.alan-question-btn-content {
    display: flex;
    justify-content: center;
}
/* ===> index 페이지처럼 페이지 내부 컨텐트를 정렬하는 css end */

.special-style {
    font-size: 48px; /* 원하는 크기로 조절 */
    text-shadow: 2px 2px 4px rgb(185, 179, 179);
    color: #8c8888;
}


/* 날씨 데이터 조회 관련 css start ===> */
.main-content-weather-wrapper {
    position: relative;
    border: none;
    margin-bottom: 30px;
    width: 70vw;
}

.main-content-weather {
    display: flex;
    flex-direction: row;
    width: fit-content;
    align-items: center;
    justify-content: center;
}

.rain-group {
    margin-left: 10px;
    margin-right: 50px; /* 각 그룹 간격 조절 */
}
.fd-group {
    margin-left: 10px;
    margin-right: 50px; /* 각 그룹 간격 조절 */
}
.temp-group {
    margin-left: 10px;
    margin-right: 50px; /* 각 그룹 간격 조절 */
}

.card {
    position: relative;
    width: 220px;
    height: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 20px 10px;
    backdrop-filter: blur(30px);
    border:none;
    background-color: #f0f0f0; /* 밝은 배경색 */
    box-shadow: 8px 8px 16px #dcdcdc,
    -8px -8px 16px #ffffff; /* 그림자 */
    border-radius: 12px;
}


.weather-title {
    font-weight: 700;
    font-size: 0.9em;
    letter-spacing: 1.2px;
    color: darkgrey;
}

.weather {
    font-weight: 500;
    font-size: 0.7em;
    letter-spacing: 1.2px;
    color: dimgrey;
}

.temp {
    font-size: 1.8em;
    color: dimgrey;
}

.minmaxContainer,
.pmContainer{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.min,
.max {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    padding: 0px 20px;
    gap: 4px;
}

.max {
    align-items: flex-start;
    border-left: 2px solid dimgrey;
}

.pmHeading,
.maxHeading,
.minHeading {
    font-size: 0.7em;
    font-weight: 600;
    color: dimgrey;
}

.maxTemp,
.minTemp {
    font-size: 0.8em;
    font-weight: 500;
}

.minTemp{
    color: rgba(54, 162, 235, 1);
}
.maxTemp{
    color: rgba(255, 99, 132, 1);
}

.isRain{
    font-size: 1.0em;
    font-weight: 600;
    color: dimgrey;
}

.pmIdx{
    font-size: 1.0em;
    font-weight: 500;
    color: dimgrey;
}

.pm10,
.pm25 {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    padding: 0px 20px;
    gap: 4px;
}

.pm10 {
    align-items: flex-start;
    border-left: 2px solid dimgrey;
}

.update-time{
    position: absolute;
    bottom: 0;
    right: 7px;
}
/* ===> 날씨 데이터 조회 관련 css end */

/* 인구데이터 조회 관련 css start ===> */
.main-content-population-wrapper {
    width: 70vw;
    margin-bottom: 50px;
}

#myChart {
    /*width: 300px;*/
    height: 300px;
}
.ppltn-card,
.culture-card{
    position: relative;
    width: 800px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 20px 10px;
    backdrop-filter: blur(30px);
    border:none;
    background-color: #f0f0f0; /* 밝은 배경색 */
    box-shadow: 8px 8px 16px #dcdcdc,
    -8px -8px 16px #ffffff; /* 그림자 */
    border-radius: 12px;
}

#area-congest-lvl,
#ppltn-forecast{
    font-size: 1.0em;
    font-weight: 600;
    color: dimgrey;
}

.ppltn-lv{
    font-weight: 700;
    font-size: 1.4em;
    letter-spacing: 1.2px;
    color: darkgrey;
}

#area-congest-msg{
    font-size: 0.8em;
    font-weight: 600;
    color: dimgrey;
}

.ppltn-update-time {
    margin-top: 3vh;
    float: right;
}
/* 인구데이터 조회 관련 css end ===> */

/* 문화행사 데이터 조회 관련 css start ===> */
.main-content-culture-wrapper{
    margin-bottom: 50px;
}
.event-info{
    margin-bottom: 50px;
}

.scroll-1::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

.scroll-1::-webkit-scrollbar-thumb {
    border-radius: 20px;
    background: #888;
}

.event-container * {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    color: #fff;
}

.event-container {
    display: flex;
    overflow-x: scroll;
    padding: 24px;
    width: 300px;
    scroll-snap-type: x mandatory;
    scroll-padding-top: 24px;
    border-radius: 8px;
    gap: 20px;
}

.event-container .event-card {
    flex: 0 0 100%;
    overflow: hidden;
    border-radius: 8px;
    background-color: #353535;
    scroll-snap-align: start;
}

.event-card .card__content {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px;
}

.event-card .card__content .card__title {
    font-size: 24px;
    color: #fff;
    text-transform: capitalize;
}

.event-card .card__content hr {
    border: none; /* 기본 선 제거 */
    border-top: 1px solid #fff; /* 상단에 1픽셀의 흰색 실선 추가 */
    margin: 10px 0; /* 위아래 여백 추가 */
}

.event-card .card__content .card__describe {
    color: #fff;
    font-size: 16px;
}