<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/css/header/header.css" th:href="@{/css/header/header.css}">
    <link rel="stylesheet" type="text/css" href="/css/post/postView.css" th:href="@{/css/post/postView.css}">
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">

    <title>게시글 목록</title>
</head>
<body>
    <th:block th:replace="~{header/header :: header}"></th:block>

        <h1>지금, 왓서울 유저들의 서울 방문 후기는? </h1>
        <div class="registration-link">
            <a class="post-btn" href="/posts/create">등록하기</a>
        </div>
    <!--TODO : 작성자 / 조회수 추가 -->
        <ul>
            <li class="post" th:each="post : ${posts}">

                <p><strong>작성일:</strong> <span th:text="${post.createdAt}"></span></p>
                <p><strong>제목:</strong> <span th:text="${post.postTitle}"></span></p>
                <a class="post-btn" th:href="@{'/posts/' + ${post.id}}">보러 가기</a>
            </li>
        </ul>
</body>
</html>
