<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>게시판</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" th:href="@{/css/post/post.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/index/index.css}">
    <th:block th:include="header/header :: header"></th:block>
    <style>
        #imagePreviews {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between; /* Distribute images evenly */
        }

        .preview-image {
            flex: 0 0 33.33%; /* Set flex basis to 33.33% (1/3 of available width) */
            margin: 10px; /* Add spacing between images */
            max-width: 150px; /* Adjust as needed */
            height: auto; /* Maintain aspect ratio */
        }
    </style>
</head>
<body>

<header>

</header>
<main>
    <form th:action="@{/posts/create}" method="post" th:object="${postForm}">
        <h2>후기 작성</h2>
        <a href="/posts" class="back">뒤로가기</a>

        <label for="title">제목:</label>
        <input type="text" id="title" name="postTitle" required>

        <label for="content">내용:</label>
        <textarea id="content" name="postContent" rows="10" cols="50" required></textarea>

<!--        <div id="imagePreviews"> <img src="..." alt="..." class="preview-image"></div>-->

<!--        <label for="postImage">사진 첨부:</label>-->
<!--        <input type="file" id="postImage" name="postImage" multiple accept="image/*">-->


        <button type="submit" class="add-review">후기 등록</button>

    </form>
</main>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
<!--<script th:inline="javascript">-->
<!--    /*<![CDATA[*/-->
<!--    const imageInput = document.getElementById('postImage');-->
<!--    const imagePreviewsContainer = document.getElementById('imagePreviews');-->

<!--    imageInput.addEventListener('change', function(event) {-->
<!--        const files = event.target.files;-->

<!--        for (const file of files) {-->
<!--            const reader = new FileReader();-->

<!--            reader.onload = function(event) {-->
<!--                const img = document.createElement('img');-->
<!--                img.src = event.target.result;-->
<!--                img.alt = file.name;-->
<!--                img.style.width = '300px';-->
<!--                img.style.height = 'auto';-->

<!--                const deleteButton = document.createElement('button');-->
<!--                deleteButton.textContent = 'X';-->
<!--                deleteButton.addEventListener('click', function() {-->
<!--                    imagePreviewsContainer.removeChild(img.parentNode);-->
<!--                });-->

<!--                const previewDiv = document.createElement('div');-->
<!--                previewDiv.appendChild(img);-->
<!--                previewDiv.appendChild(deleteButton);-->

<!--                imagePreviewsContainer.appendChild(previewDiv);-->
<!--            };-->

<!--            reader.readAsDataURL(file);-->
<!--        }-->
<!--    });-->
<!--    /*]]>*/-->
<!--</script>-->
</body>
</html>