<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>비밀번호 수정</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/css/index/index.css" th:href="@{/css/index/index.css}">
    <link rel="stylesheet" type="text/css" href="/css/user/update.css" th:href="@{/css/user/update.css}">
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">
    <link rel="stylesheet" type="text/css" href="/css/header/header.css" th:href="@{/css/header/header.css}">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>

</head>
<body>
<th:block th:replace="~{header/header :: header}"></th:block>

<form th:action="@{/api/update}" method="post" onsubmit="event.preventDefault(); passwordConfirmModal(event);">
    <div class="card">
        <span class="card__title">비밀번호 수정</span>
        <div class="card__form">
            <label>
                <input placeholder="new password" type="password" name="password" id="password" required />
            </label>
            <button class="sign-up" type="submit">수정하기</button>
        </div>
    </div>
</form>

<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/toastify-js"></script>



<!-- Modal -->
<div class="modal fade" id="passwordConfirmModal" data-backdrop="static" data-keyboard="false"
     tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true" >
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">비밀번호 확인</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <input placeholder="비밀번호 확인" type="password"
                       class="form-control"
                       name="passwordConfirm" id="passwordConfirm" required />
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">닫기</button>
                <button type="button" class="btn btn-primary" onclick="passwordUpdate()">확인</button>
            </div>
        </div>
    </div>
</div>


<script>

function passwordConfirmModal(){
    $("#passwordConfirm").val("");
    $('#passwordConfirmModal').modal("show")
}

async function passwordUpdate() {

    console.log("비밀번호 업데이트 처리");
    const password = document.querySelector("#password").value;
    const passwordConfirm = document.querySelector("#passwordConfirm").value;

    if(!passwordConfirm){
        Toastify({
            text: "비밀번호 확인을 입력해 주세요.",
            duration: 3000,
            close: true,
            gravity: "top",
            position: 'center',
            backgroundColor: "linear-gradient(to right, #FF0000, #FF7F50)",
        }).showToast();
        $("#passwordConfirm").focus();
        return;
    }

    if(password!==passwordConfirm){
        Toastify({
            text: "비밀번호와 비밀번호 확인이 일치하지 않습니다.",
            duration: 3000,
            close: true,
            gravity: "top",
            position: 'center',
            backgroundColor: "linear-gradient(to right, #FF0000, #FF7F50)",
        }).showToast();
        $("#passwordConfirm").focus();
        return;
    }

    const param = { "userPassword": password };
    if (password) {
        const response = await fetch("/api/update", {
            method: "POST",
            headers: {'Content-Type': 'application/json'},
            body: JSON.stringify(param)
        });
        if (response.ok) {
            const res=await response.json();
            //console.log("res  :", res);
            if(res.message==="success"){
                Toastify({
                    text: "비밀번호 변경 완료 되었습니다.",
                    duration: 5000,
                    close: true,
                    gravity: "top",
                    position: 'center',
                    backgroundColor: "linear-gradient(to right, #00b09b, #96c93d)",
                }).showToast();

                document.querySelector("#password").value="";

                $('#passwordConfirmModal').modal("hide")
            }else{
                alert("비밀번호 변경 실패!");
            }
        } else {
            console.log("Error:", await response.text());
        }
    }
}
</script>


</body>
</html>
