body {
    font-family: 'Arial', sans-serif;
    background-color: #FFFFFF;
    margin: 0;
    padding: 0;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}


h2 {
    color: #333;
    display: inline-block;
}

form {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
    display: block;
    margin-bottom: 10px;
    color: #666;
}

input[type="text"],
textarea,
input[type="file"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-sizing: border-box; /* So that width includes padding */
}
button {
    background-color: white;
    color: black;
    padding: 10px 20px;
    border: 1px solid grey;
    border-radius: 5px;
    cursor: pointer;
    margin: 20px 10px;
}

button:hover {
    background-color: lightgrey;
}

.back {
    float: right;
    display: inline-block;
    padding: 8px 12px; /* 버튼의 패딩을 조절 */
    margin: 3px 0; /* 위 아래로 여백 추가 */
    background-color: #007BFF; /* 배경색 */
    border: 1px solid #ccc; /* 테두리 */
    border-radius: 4px; /* 모서리 둥글게 */
    color: #fff; /* 글자색 */
    text-decoration: none; /* 밑줄 없앰 */
    text-align: center; /* 텍스트 중앙 정렬 */
    width: auto; /* 자동 너비 조절 */
    transition: background-color 0.3s; /* 배경색 변경 효과 */
}

.back:hover {
    text-decoration: none;
    background-color: lightskyblue;
    color: white;
}

.modify-review {
    background-color: #007BFF;
    color: white;
}

.add-review {
    background-color: #007BFF;
    color: white;
}

.add-review:hover {
    background-color: lightskyblue;
}

.modify-review:hover {
    background-color: lightskyblue;
}