<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Login Page</title>
  <link rel="stylesheet" type="text/css" href="/css/user/login.css" th:href="@{/css/user/login.css}">

</head>
<body>

<div class="container">
  <div class="hero">
    <form th:action="@{/login}" method="post" class="form">
      <div class="logo">로그인</div>
      <input name="username" id="username" required class="input" placeholder="username">
      <input type="password" name="password" id="password" required class="input" placeholder="password">
      <input type="submit" value="Log in" class="input submit">
      <p class="signup">Don't have an account? <a href="/register">SignUp</a></p>
    </form>
  </div>
</div>
</body>
</html>