<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>후기 작성</title>
    <style>
        .layout {
            width: 500px;
            margin: 0 auto;
            margin-top: 40px;
        }
        .layout input, textarea {
            width: 100%;
            box-sizing: border-box;
            margin-top: 10px;

        }
        .layout textarea{
            width: 100%;
            margin-top: 10px;
            min-height: 300px;
        }
    </style>
</head>
<body>
<div class="layout">
    <form action="/post/editpro" method="post" enctype="application/x-www-form-urlencoded">
        <input name="postId" type="hidden" th:value="${post.postId}">
        <input name="postTitle" type="text" th:value="${post.postTitle}">
        <textarea name="postContent" th:text="${post.postContent}"></textarea>
        <button type="submit">수정</button>
    </form>
</div>
</body>
</html>
