<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>WhatSeoul</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="./css/selectarea/selectareaname.css" th:href="@{/css/selectarea/selectareaname.css}">
    <link rel="stylesheet" type="text/css" href="/css/header/header.css" th:href="@{/css/header/header.css}">
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">

</head>
<body>
<th:block th:replace="~{header/header :: header}"></th:block>
<main>
    <div class="main-content">
        <div class="main-content-text">
            <strong></strong>를 선택하셨어요.<br>
            구체적으로 어느 지역에 관심이 있나요?
        </div>
        <div class="button-container-wrapper">
        </div>
        <div id="map" style="width:50vw; height:50vh">
        </div>
        <div class="main-content-location-attraction-info-wrapper">
            <div class="main-content-area-name">
            </div>
            <div class="main-content-location-attraction-info-wrapper-title">
                위치
            </div>
            <div class="main-content-location-info">

            </div>
            <div class="main-content-location-attraction-info-wrapper-title">
                특색
            </div>
            <div class="main-content-attraction-info">

            </div>
            <div class="confirm-button-wrapper">
                <button class="confirm-button" onclick="location.href='/area/confirm';">
                    실시간 지역정보 확인하기
                </button>
            </div>
        </div>

    </div>
    <!-- 뒤로가기 버튼 -->
    <div class="button-container-wrapper" id="backButtonWrapper">
        <button id="backButton" onclick="location.href='/district'">뒤로가기</button>
    </div>
</main>
<!-- 부트스트랩 JS (jQuery 포함) -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
<script th:inline="javascript">
    var kakaoKey = /*[[${key}]]*/ '';
    // 이렇게 확인해 봅니다.
    console.log("kakaoKey: " + kakaoKey);
</script>
<script th:inline="javascript" th:src="@{'//dapi.kakao.com/v2/maps/sdk.js?appkey=' + ${kakaoKey}}"></script>

<script defer src="/js/selectarea/selectareaname.js"></script>

</body>
</html>