<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>WhatSeoul</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/css/selectarea/selectconfirm.css" th:href="@{/css/selectarea/selectconfirm.css}">
    <link rel="stylesheet" type="text/css" href="/css/header/header.css" th:href="@{/css/header/header.css}">
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">

    <script defer src="/js/selectarea/selectconfirm.js"></script>
</head>
<body>
<th:block th:replace="~{header/header :: header}"></th:block>

<main>
    <div class="main-content">
        <div class="main-content-text">
            <strong></strong>를 선택하셨어요.<br>
            해당 지역의 실시간 지역정보를 조회하겠습니다.
            <div class="button-container-wrapper">
                <div class="button-container">
                    <button id="confirmButton" onclick="location.href='/citydata'">네, 좋아요</button>
                    <button id="backButton" onclick="location.href='/area'">뒤로가기</button>
                </div>
            </div>
        </div>

    </div>
</main>
<!-- 부트스트랩 JS (jQuery 포함) -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>

</body>
</html>